@tailwind base;
@tailwind components;
@tailwind utilities;

#page-links {
  @apply flex flex-row mt-4;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

#page-links li {
  @apply mx-4 my-6 font-bold font-serif lowercase;
  text-decoration: underline teal 3px;
}

#sideways-header {
  @apply text-5xl font-extrabold uppercase absolute left-[152px] top-20 z-50 tracking-wider;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

#main-image {
  filter: sepia() saturate(0) hue-rotate(150deg) brightness(70%) opacity(5);
}
